source https://nuget.org/api/v2

framework: net45

nuget FSharp.Core redirects:force

nuget FAKE
nuget canopy
nuget argu

nuget Selenium.WebDriver.ChromeDriver
nuget Selenium.WebDriver.GeckoDriver.Win32